@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/fonts/Caveat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/fonts/Tajawal-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(/vendor/fonts/PressStart2P-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

#paccrypt_controls {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px #28E060;
  margin-bottom: 150px;
  bottom: 3% !important;
  position: absolute;
  max-width: 325px;
}

#paccrypt_controls_metadata {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 10px #28E060;
  margin-right: 10px;
  max-width: 325px;
  float: right !important;
  margin-top: 178px;
}

.tooltip > .tooltip-inner {
  font-family: 'Press Start 2P';
  font-size: 0.55rem;
  text-align: center;
  color: #28E060;
  background-color: #1e1e1e;
  border: 1px solid #28E060;
  padding: 8px 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px #28E060;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 75px;
    width: auto;
}

.logo-text h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: clamp(.50em, 6vw, 1.50em);
    word-break: break-word;
    overflow-wrap: break-word;
    color: #28E060;
    margin: 0;
    text-align: left;
}

.paccrypt-box {
  background-color: #1e1e1e;
  border: 2px solid #4caf50;
  border-radius: 6px;
  padding: 1rem;
  font-family: 'Press Start 2P', monospace;
  color: #f8f9fa;
}

.paccrypt-box input {  
    border: 1px solid #28E060;
    border-radius: 6px;
    background-color: #2c2f33;
    color: #28E060;
    text-align: left;
    transition: 0.3s;
    min-height: 50px;
}

.paccrypt-box input:focus {
    outline: none;
    box-shadow: 0 0 10px #28E060;
    background-color: #2c2f33;
    border-color: unset;
    border: 1px solid #28E060;
}

.paccrypt-box input::placeholder {
  color: #bbb;
  opacity: 1; 
  font-size: .8em;
}

.paccrypt-box input:focus::placeholder {
  color: #888;
}

.paccrypt-btn-share,
.paccrypt-btn-enc {
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
    border-radius: 6px;
    background-color: #2c2f33;
    color: #28E060;
    font-size: .8em;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    min-width: 300px;
    max-width: 300px;
    height: 45px;
    justify-self: center;
}

.paccrypt-btn-share:hover,
.paccrypt-btn-enc:hover {
    background-color: #28E060;
    color: #121212;
    box-shadow: 0 0 10px #28E060;
}

.paccrypt-btn-enc:focus,
.paccrypt-btn-share:focus {
    outline: none;
    box-shadow: 0 0 10px #28E060;
}

#container-pages {
    overflow: auto;
}

#sidebarTools {
    width: 350px;
}

#sidebarTools .list-item-add label:hover {
    background: #e8ebed;
    border: 1px solid #505050;
}

#sidebarTools .list-item-add label:active, #sidebarTools .list-item-add label.active, #sidebarTools .list-item-add .btn-check:active + .btn-outline-secondary, #sidebarTools .list-item-add .btn-check:checked + .btn-outline-secondary {
    background: #c9d1d8;
    border: 1px solid #000;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.075) !important;
}

#top_bar {
    z-index: 10000;
}

#modalFichier {
    z-index: 10001;
}

#input-text-signature:dir(ltr) {
    font-family: Caveat;
    font-size: 48px;
}

#input-text-signature:dir(rtl) {
    font-family: Tajawal;
    font-size: 48px;
}

#img-upload {
    max-width: 460px;
    max-height: 200px;
}

.btn-svg-list-suppression {
    top: 2px;
}

.btn-svg-list-suppression:dir(ltr) {
    right: 6px;
}

.btn-svg-list-suppression:dir(rtl) {
    left: 6px;
}

.canvas-container .btn-drag, .canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    font-size: 30px;
    cursor: move;
    background: rgb(255,255,255,0.6);
}

.canvas-container .btn-drag-here, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    cursor: pointer;
    z-index: 9999;
}

.canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here {
    cursor: pointer;
    font-size: 25px;
}

.canvas-container .btn-rotate:hover, .canvas-container .btn-delete:hover, .canvas-container .btn-select:hover, .canvas-container .btn-download:hover, .canvas-container .btn-restore:hover, .canvas-container .btn-drag:hover {
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.canvas-container .btn-cancel {
    font-size: 20px;
}

.border-transparent {
    border-color: transparent !important;
}

.delete-metadata {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.2rem;
    user-select: none;
}

.input-metadata:hover > .delete-metadata {
    display: block;
}

#page-metadata #container-main {
    width: 55%;
}

#page-metadata #sidebarTools {
    width: 45%;
}

#page-metadata #bottom_bar {
    z-index: 3;
}

@media (max-width: 1500px) {
    #page-metadata #container-main {
        width: 50%;
    }
    #page-metadata #sidebarTools {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    #page-metadata #container-main {
        width: 100%;
    }
    #page-metadata #sidebarTools {
        display:none;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .subtitle {
        font-size: .875em
    }
}

html.ltr .decalage-pdf-div {
    padding-right: 350px;
}

html.rtl .decalage-pdf-div {
    padding-left: 350px;
}

#container-btn-zoom {
    top: 6px;
}

html.ltr #container-btn-zoom {
    right: 368px;
}

html.rtl #container-btn-zoom {
    left: 357px;
}

html.ltr .file-list-checkbox {
    right: 10px;
}

html.rtl .file-list-checkbox {
    left: 10px;
}

.fullpage {
    min-height: calc(100dvh - 95px);
}
